body{
margin: 0;
    background-color:white;
    font-family: Arial;
}

#main-container{
    margin: 70px auto;
    width: 500px;

}
h1{
    margin-top: 10px;
     text-align: center;
    color: red;
    font-size: 40px; 
}
table{
    background-color: aliceblue;
    border: solid 1px black;
	border-collapse: collapse;
    width: 100%;
    }
thead{

    background-color: green;
    border-bottom: solid 5px lightsteelblue ;
    color: black;
}
th,td{
  padding:10px;
	border-left: solid 1px black;
	padding: 0;
	text-align: center;
}

tr:nth-child(even){
	background-color:#ddd;
} 
tr:hover td{
    background-color: lightsteelblue;
    color: white;
}



.btn-info {
    
	padding: 7px 22px;
    cursor: pointer;
    color:blueviolet;
    border-radius: 4px;
    border: none;
    background-color:deepskyblue;
    margin-bottom: 2px;
	text-align: center;
}


.btn-infooo {
  
	padding: 7px 15px;
    cursor: pointer;
    color:blueviolet;
    border-radius: 4px;
    border: none;
    background-color: #5cb85c;
 
    margin-bottom: 2px;
	text-align: center;
}
.btn-infoooo{
  
	padding: 7px 15px;
    cursor: pointer;
    color:greenyellow;
    border-radius: 4px;
    border: none;
    background-color: #d43f3a;
    margin-bottom: 2px;
	text-align: center;
}




.btn-info:hover {
 color:blueviolet;
  background-color: #31b0d5;
  border-color: #269abc;
}
.btn-infoo:hover {
  color:blueviolet;
  background-color: #31b0d5;
  border-color: #269abc;
}
.btn-infooo:hover {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.btn-infoooo:hover {
  color:blueviolet;
  background-color: #31b0d5;
  border-color: #269abc;
}
