
body{
    margin: 0;
    font-family: sans-serif;
    background-color: white;
	padding-top: 60px;
	
}

.form-register{
   
    width: 100%;
    max-width: 500px;
    margin: auto;
    background-color: #204862;
    border-radius: 7px;
	border-radius: 15px;
}
.form-titulo{

    color: red;
    padding: 15px;
    text-align: center;
    font-weight: 100px;
    font-size: 30px;
  
  
}
.contenedor-inputs
{

    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}
input{
    margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid darkgray;
}
.input-100
{
    width: 100%;
}
.btn-enviar{
    background: crimson;
    color: #fff;
    margin: auto;
    padding: 10px 40px;
    cursor: pointer;
    font-size: 20px;
}
.btn-enviar:active{
    transform: scale(1.5);
}
   

h1
{
    color: mediumvioletred;
    text-align: center;
    font-size: 50px;
    font-family: arial;

}
.l{
    text-align: center;
    width: 100%;
    font: bold 30px verdona;
    text-decoration: none;
    color: blue;
    border: 1px solid #f22;
    padding: 10px 120px 10px 120px;
    border-radius: 5px;
    transition: backgroud 1s,color 1s;
    background-color: sandybrown;
    
 
}

.b{
    text-align: center;
    width: 100%;
    font: bold 30px verdona;
    text-decoration: none;
    color: blue;
    border: 1px solid #f22;
    padding: 10px 114px 10px 114px;
    border-radius: 5px;
    transition: backgroud 1s,color 1s;
    background-color: sandybrown;

}

.c{
    text-align: center;
    width: 100%;
    font: bold 30px verdona;
    text-decoration: none;
    color: blue;
    border: 1px solid #f22;
    padding: 10px 120px 10px 120px;
    border-radius: 5px;
    transition: backgroud 1s,color 1s;
    background-color: sandybrown;
    
}

.d{
    text-align: center;
    width: 100%;
    font: bold 30px verdona;
    text-decoration: none;
    color: blue;
    border: 1px solid #f22;
    padding: 10px 100px 10px 100px;
    border-radius: 5px;
    transition: backgroud 1s,color 1s;
    background-color: sandybrown; 
}
