*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: sans-serif;
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.formulario{
    width: 550px;
    max-width: 100%;
    margin: auto;
    margin-top: 100px;
    padding: 30px;
    box-sizing: border-box;
    background-color: lightskyblue;
    position: relative;  
}

.formulario__titulo{
    font-family:fantasy;
    text-align: center;
    margin-top: 0;
    color: black;
    font-size: 2.1em;
    padding: 15px;
}
.formulario__input, .formulario__label, .formulario__submit {
    font-family: arial;
    width: 100%;
    font-size: 1em;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: block;
}
.formulario__input{
    padding: 11px;
    background: skyblue;
    border region-break-after: 30px;
    margin-bottom: 15px;
}
.formulario__input:hover{
    background: #ffff;
    color: blue;
}
.formulario__label{
    font-family:fantasy;
    text-align: ;
    margin-top: 0;
    color: black;
    font-size: 2.em;
}
.formulario__submit{
    background-color: dodgerblue;
    text-align: center;
    color:black;
    font-size: 1.7em;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: auto;
    padding: 10px;
}
.menu{
	width: 40px;
    height: 40px;
    margin-top: 2px;
    font-family: Tahoma;
    text-align: center;
    font: bold 30px verdona;
    text-decoration: none;
    color: black;
	border-bottom: solid 2px;
    padding: 2px 20px 2px 20px;
    background-color: dodgerblue;
	border-radius: 5px;
}

